<div class="gallery columns-8 large-centered">
	<div class="portrait-containter"> 
		<ul id="portraits-image-gallery" class="cS-hidden">
			<% if @portraitImages	%>
				<% @portraitImages.each do |image| %>
					<li><%= image_tag image.gsub("app/assets/images/", ""), class: "item" %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="pet-containter hide">        
		<ul id="pets-image-gallery" class="cS-hidden">
				<% if @petImages	%>
					<% @petImages.each do |image| %>
						<li><%= image_tag image.gsub("app/assets/images/", ""), class: "item" %></li>
					<% end %>
				<% end %>
		</ul>
	</div>
	<div class="event-containter hide"> 
		<ul id="events-image-gallery" class="cS-hidden">
			<% if @eventImages	%>
				<% @eventImages.each do |event| %>
					<li><%= image_tag event.gsub("app/assets/images/", ""), class: "item" %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
  <ul class="menu">
    <li><a id="portraits">Portraits&nbsp;/</a></li>
    <li><a id="pets">&nbsp;Pets&nbsp;/</a></li>
    <li><a id="events">&nbsp;Events</a></li>
  </ul>
</div>
