<div>
	<h3> About </h3>
	<p>
		A Lark's Nest provides event, portraiture, and pet photography services. Whether it be for a photo shoot, film, special event, or just for fun, we will make your experience magical! We love working with all ages, races, genders, and orientations.
	</p>
	<p>
		Contact us today to get started!
	</p>
	<p>
		Want to stay updated with our latest work and inspiration?
		Be sure to follow us on tumblr: <a href="http://alarksnest.tumblr.com/">http://alarksnest.tumblr.com/</a> and Facebook: <a href="https://www.facebook.com/ALarksNest">https://www.facebook.com/ALarksNest</a>

	</p>
</div>