body {
    background-image: url("branding/paper-background.jpg");
    background-repeat: repeat;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.gallery{
    width: 500px;
    float: center;
    padding: 60px;
}
.item{
    max-width: 500px;
    max-height: 500px;
}
