
<div class="row">
	<h3>Investment</h3>
</div>
<div class="row">
	<h4>Packages</h4>
</div>
<div class="row">
	<div class="columns medium-6 large-4">
		<h5> Micro-session </h5>
		<p>
			30 minute session 
			<br>
			​​1 location within 15 miles of us 
			<br>
			​Online gallery
			<br>
		</p>
		<p>
			​​<span class="bold">$150</span>
			<br>
			3 digital images suitable for web
		</p>
		<p>
			​<span class="bold">$250</span> 
			<br>
			5 digital images suitable for print
		</p>
	</div>
	<div class="columns medium-6  large-4">
		<h5> Mini-session</h5>
		<p>
			1 hour session 
			<br>
			​​1 location within 15 miles of us 
			<br>
			​Online gallery
			<br>
		</p>
		<p>
			​​<span class="bold">$300</span>
			<br>
			7 digital images suitable for web
		</p>
		<p>
			​<span class="bold">$500</span> 
			<br>
			12 digital images suitable for print
		</p>
	</div>
	<div class="columns medium-6 end large-4">
		<h5> Full-session </h5>
		<p>
			2 hour minute session 
			<br>
			​​1 location within 15 miles of us 
			<br>
			1 Wardrobe change (optional)
			<br>
			​Online gallery
		</p>
		<p>
			​​<span class="bold">$600</span>
			<br>
			15 digital images suitable for web
		</p>
		<p>
			​<span class="bold">$900</span> 
			<br>
			25 digital images suitable for print
		</p>
	</div>
</div>
<div class="row">

	﻿<h4>Cancellations</h4>
	<p>
		A minimum 24 hours notice is required for cancellation of a booking. If the notification is less than 24 hours before your time slot, or you have cancelled previously, your deposit will be forfeit, and a 100% deposit will be required at the next booking. ﻿
	</p>
</div>
