<div>
	<h3>Rates</h3>
	<p>
		May Special!
		No session fee for a 1 hour session on location.
		No minimum order.
		You only pay for what you love!
		Your choice of 8-12 images in an online gallery.
		Travel fees apply beyond 5 miles of Beacon St at Washington St.
	</p>
	﻿<h3>Cancellations</h3>
	<p>
		A minimum 24 hours notice is required for cancellation of a booking. If the notification is less than 24 hours before your time slot, or you have cancelled previously, your deposit will be forfeit, and a 100% deposit will be required at the next booking. ﻿
	</p>
</div>