<!DOCTYPE html>
<html>
<head>
  <title>A Lark's Nest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> A Lark's Nest</h1>
    <nav>
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Rates</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
